body
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bg_image
{
    background: url('images/img_21.jpg') no-repeat center;
    background-size: cover;
    height: 600px;
    border-top: 12px solid #2ecc71;
}

.bg_image h3
{
    color: white;
    padding-top: 35px;
    font-size: 23px;
}

.section_0
{
    margin-top: 15%;
    margin-left: 50px;
}

.fa
{
    color: white;
    padding-top: 3px;
}

.btn-social-icon
{
    width: 60px;
    height: 60px;
    top: 10px;
    margin-right: 12px;
    text-align: center;
    border-radius: 500px;
    background-color: rgba(0,0,0, 0.45);
}

.btn-social-icon:hover
{
    background-color: #2ecc71;
}

.btn-social-icon>:first-child
{
    top: 15px;
    line-height: 21px;
}
/*---------  section 1  ------------------*/

.section_1
{
    padding-top: 55px;
}

.card-img-top
{
    margin-top:21px;
    width: 45px;
    height: 45px;
}

.feature_image
{
    background-color: #2ecc71;
    border-radius:500px;
    display: inline-table;
    width:90px;
    height:90px;
}

.card-text
{
    color: #999999;
}

/*---------  section 2  ------------------*/
.section_2
{
    background-color: #e3e3e3;
    max-width: 100%;
    padding-left: 7%;
    padding-right: 7%;
}

.mr-sm-3, .mx-sm-3
{
    margin-right: 2px;
}

.btn-primary
{
    background-color: #2ecc71;
    border-color: #2ecc71;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    height: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

.form-control
{
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 50px;
}

.padding_section_2
{
    padding-top: 50px;
}

.padding_section_2 p
{
    color: #999999;
}

.video
{
    padding-top: 50px;
    border-radius: 10px;
    padding-bottom: 50px;
    height:400px;
}

/*---------  section 3  ------------------*/
.section_3
{
    padding-top: 50px;
    padding-bottom: 50px;
}

.section_3 h3
{
    margin: 0 auto;
    padding-bottom: 15px;
    padding-top: 15px;
}

.section_3 p
{
    padding-left: 15%;
    padding-right: 15%;
    color: #999999;
}

.row li 
{
    list-style-type: none;
    padding-right: 3px;
    padding-top: 3px;
    float: left;
}

.img-responsive 
{
    background-color: blue;
    border: 0 none;
    display: inline-block;
    height: auto;
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.img-responsive:hover
{
    opacity: 0.5;
    cursor: pointer;
}

.hvrbox
{
    margin-top:-50px;
    width: 50px;
    height: 50px;
    background-color: rgba(46,204,113,1);
}

.social_media
{
    margin:0 auto;
}

.smaller
{
    width:10px;
}

/*------------  footer  ---------------------*/
.font a
{
    color: #999999;
}

.pt-5, .py-5
{
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 2rem!important;
}

.mb-3, .my-3
{
    margin-bottom: 0px;
}